@model List<Movie>;

@{
    ViewData["Title"] = "Home Page";
}

<a href="/">Add a New Movie</a>
<table class="table table-bordered table-striped table-active">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Genre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Name</td>
                <td>@movie.Year</td>
                <td>@movie.Rating</td>
                <td>@movie.Genre.Name</td>
                <td>
                    <a href="/">Edit</a>
                    <a href="/">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
